{% extends 'subscribe/base.html' %}

{% block title %}
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <P>Connectez-vous</P>
    <form method="post" class="from-group">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="subscribe-link">
            <p>Besoin d'un compte ?<button type="submit" class="btn btn-outline-secondary"><a href="{% url 'register' %}">S'inscrire</a></button></p>
        </div>
        <button type="submit" class="btn btn-success">Se connecter</button>
    </form>
{% endblock content %}
