{% extends 'feeds/base.html' %}

{% block title %}
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
    <P>Connectez-vous</P>
    <form method="post" class="from-group">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="subscribe-link">
            <p>No account ? <a class="ml-2" style="text-decoration: none" href="{% url 'register' %}">Signup</a></p>
        </div> 
        <button type="submit" class="btn btn-success">Login</button>
    </form>
{% endblock content %}
