{% extends "feeds/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="content-section"> 

         <div class="col-bg-8"> 
            <!-- <a href="#" class="thumbnail"> -->
                
                <div class="caption">
                    <h2 class="account-heading margin-bottom mt-4">{{ user.username}}</h2>
                    <p class="text-secondary">{{ user.email}}</p>
                </div>
                <div class="image margin-bottom mb-4"> 
                    <img class="rounded-circle account-img" src="{{ user.userprofile.image.url}}"/>
                </div>
            <!-- </a> -->
        </div> 
        
    </div> 
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Info</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
        <div class="float-right"> 
            <button class="btn btn-outline-success" type="submit">Update</button> 
        </div> 
        </fieldset>
      </form>
      <h5><i class="fa fa-arrow-left" aria-hidden="true">
        <a class="btn btn-link text-decoration-none" href="{% url 'feeds-home' %}">Return</a>
      </i></h5>
    </div>
{% endblock content %}