{% extends 'feeds/base.html' %}
 
{% block content %}
 <div class="container p-0"> 
    <div class="row mb-2">
      <h1 class="col-8 py-2 mb-0">
        {% if posts %}
          {{ title }}
        {% endif %}
      </h1>
      <div class="btn-group col py-2 mt-4 mb-1" role="group">
        <button type="button" class="btn btn-outline-primary mr-4"><a href="/create-ticket">Create Ticket</a></button>
        <button type="button" class="btn btn-outline-success"><a href="/create-review">Publish A Review</a></button> 
      </div>
    </div>
  </div> 

{% endblock content%}