{% extends 'feeds/base.html' %}
{% load static %}

 
{% block content %}

<div class="container p-0">
    <div class="row mb-2">
      <h2 class="col-8 py-2 mb-0 font-weight-bold">
        {% if posts %}
          {{ title }}
        {% endif %}
      </h2>
      <div class="btn-group" role="group">
        <a type="button" class="btn btn-outline-danger mr-sm-2 font-weight-bold" href="{% url 'create-ticket' %}">Create Ticket</a>
        <a type="button" class="btn btn-outline-danger font-weight-bold" href="{% url 'create-review' %}">Write Review</a>
      </div>
    </div>
  </div>
  
  {% if posts %}

 <!--paging -->
 {% include 'feeds/pagination.html' %}

  {% for post in posts %}
  
    {% if post.content_type == 'REVIEW' %}
      {% include 'feeds/review_display.html' %}
    {% elif post.content_type == 'TICKET' %}
      {% include 'feeds/ticket_display.html' %}
    {% endif %}

  {% endfor %}

  <!-- paging -->
  {% include 'feeds/pagination.html' %}

{% else %}

  
  <!-- No posts to display -->
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">No posts to display</h5>
      {% if request.get_full_path == "/" %}
        <p class="card-text">
          <a href="{% url 'craete-review' %}">Write</a> or
          <a href="{% url 'create-review' %}">request</a> a review, or follow a user to view their posts.
        </p>
        <a type="button" class="btn btn-success" href="{% url 'follows_auth' %}">Follow</a>
      {% else %}
        <p class="card-text">You have not written any posts yet. <a href="{% url 'create-review' %}">Write</a> or
          <a href="{% url 'create-review' %}">request</a> a review to get started.
        </p>
      {% endif %}
    </div>
  </div>
  
  {% endif %}
  
  {% endblock content %}
  