 <article class="media content-section">

    <img class="rounded-circle article-img" src="{{ post.user.userprofile.image.url }}"
         alt="{{ post.user.username }} profile picture">
  
    <div class="media-body">
      <div class="article-metadata">
  
        {% if post.user != user %}
  
          {% if post.user in followed_users %}
            <a class="mr-2 mb-0 text-decoration-none" href="{% url 'user-posts' post.user.id %}">{{ post.user }}</a>
          {% else %}
            <p class="mr-2 mb-0" style="display:inline">{{ post.user }}</p>
          {% endif %}
  
        {% else %}
          <a class="mr-2 mb-0 text-decoration-none" href="{% url 'my-posts' %}">{{ post.user }}</a>
        {% endif %}
  
        <small class="text-muted">{{ post.time_created|date:"H:i, F d, Y" }}</small>
  
        {% if post.user == user %}
          <div class="modify-post">
            <ul class="list-item dropdown">
              <a class="list-link dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown">Modify</a>
              <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'review-update' post.id %}">Update</a></li>
              <li><a class="dropdown-item" href="{% url 'review-delete' post.id %}">Delete</a></li>
            </ul>
            </ul>
          </div>
        {% elif post.user not in followed_users %}
          <div class="ml-3 text-muted d-inline">
            <i>You are not following {{ post.user }}</i>
            <a class="ml-2 text-success text-decoration-none" href="{% url 'follows_page' %}">Follow</a>
          </div>
        {% endif %}
  
      </div>

    <h6 class="mb-0"><span class="badge badge-success">Review</span></h6>
    <h3 class="mt-0">
      <a class="text-dark text-decoration-none" href="{% url 'review-detail' post.id %}">{{ post.headline }}</a> ⤵️
      <p class="star-rating-{{ post.rating }}" id="stars">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </p>
    </h3>

<div class="review-body">
  <p class="article-content text-justify mt-3 mr-3">{{ post.body }}</p>
</div>

      <!-- Ticket section -->
      <article class="media content-section mr-3 mt-4" id="replied-ticket">
        <div class="media-body">
          <div class="article-metadata">
            {% if post.ticket.user != user %}
              {% if post.ticket.user in followed_users %}
                <a class="mr-2 mb-0" href="{% url 'user-posts' post.ticket.user.id %}">{{ post.ticket.user }}</a>
              {% else %}
                <p class="mr-2 mb-0" style="display:inline">{{ post.ticket.user }}</p>
              {% endif %}
            {% else %}
              <a class="mr-2 mb-0" href="{% url 'my-posts' %}">{{ post.ticket.user }}</a>
            {% endif %}
  
            <small class="text-muted">{{ post.ticket.time_created|date:"H:i, F d, Y" }}</small>

        {% if post.ticket.user == user %}
        <div class="modify-post">
          <ul class="list-item dropdown">
            <a class="list-link dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown">Modify</a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'ticket-update' post.id %}">Update</a></li>
            <li><a class="dropdown-item" href="{% url 'ticket-delete' post.id %}">Delete</a></li>
          </ul>
        </ul>
      </div>
        {% elif post.ticket.user not in followed_users %}
          <div class="ml-3 text-muted" style="display:inline">
            You are not following {{ post.ticket.user }}
            <a class="ml-2 text-success" href="{% url 'follows_page' %}">Follow</a>
          </div>
        {% endif %}

          </div>
          <h6 class="mb-0"><span class="badge badge-pill badge-secondary">Ticket</span></h6>
          <h3 class="mt-0">
            <a class="text-dark text-decoration-none" href="{% url 'ticket-detail' post.ticket.id %}">{{ post.ticket.title }}</a>
          </h3>
          <div class="ticket-description">
  
            {% if post.ticket.image %}
              <img class="img-thumbnail float-left mb-1 mr-3" src="{{ post.ticket.image.url }}"
                   alt="{{ post.ticket.title }}">
            {% endif %}
  
            <p class="article-content text-justify mt-3 mr-3">{{ post.ticket.description }}</p>
          </div>
        </div>
      </article>
  
    </div>
  </article>